.card.card-w-badge .card-icons .card-like-icon {
  color: red;
}

.card .card-badge.card-left-badge {
  display: none;
}

.card .card-text-content .details {
  display: block;
}

.card.card-ecom .card-like {
  color: var(--velocity-red);
}