.card.card-w-badge .card-icons .card-like-icon {
  color: red;
}

.card .card-badge.card-left-badge {
  display: none;
}

.card .card-text-content .details {
  display: block;
}

.card.card-ecom .card-like {
  display: none;
}

.card.card-w-dismiss .card-dismiss {
  color: var(--velocity-black);
  background-color: var(--plain-white);
  border-radius: var(--full-round-border-radius);
  box-shadow: 0 0 4px var(--plain-gray);
  padding: 0 0.5rem;
}

